:root {
  --primary-font: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #050505 0%, #241228 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.box {
  display: flex;
  width: 480px;
  height: 450px;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.box img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box-link-container {
  display: flex;
  flex-direction: column;
  padding: 78px 121px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

h1 {
  font-family: var(--primary-font);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

button {
  display: flex;
  padding: 17px 73px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: #fff;
  background: transparent;
}

button:active {
  transform: scale(0.95);
}

.upload-another-btn {
  color: #fff;
  border: 0.5px solid #fff;
  border-radius: 8px;
}

.upload-another-btn:hover {
  border: 1px solid #fff;
  background-color: #241228;
  border-radius: 8px;
}

.upload-another-btn:hover a {
  color: #fff;
}

.download-icon {
  width: 16px;
  height: 16px;
  color: black;
}

.download-icon path {
  stroke: currentColor;
}

.download-btn {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: black;
  font-family: var(--primary-font);
  border: 0.5px solid #fff;
}

.download-btn:hover {
  background-color: #241228;
  border-radius: 8px;
  color: #fff;
  border: 0.5px solid #010101;
}

.download-btn:hover .download-icon {
  color: #fff;
}

span {
  font-family: var(--primary-font);
  font-size: 1em;
}

.download-message {
  margin-top: 10px;
  color: #4caf50;
  font-size: 14px;
  display: none;
  font-family: var(--primary-font);
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.output-heading {
  color: #fff;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 41.6px; /* 130% */
  align-self: stretch;
  margin: 0;
}
